.Navbar{
    display: flex;
    /* margin: 5px; */
    padding: 5px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    backdrop-filter: blur(2px);
    background: transparent;
    background-color: hsla(0,0%,100%,.3);
}

.nav-links{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-links p{
    margin: 2px;
    padding: 2px;
}

.nav-links:first-child::before {
    content: '\e800';
}

.conf-links{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.conf-links img{
    margin: 2px;
    padding: 2px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    transition: 0.2s;

}

.online-stats{
    display: flex;
    flex-direction: row;
    position: relative;
}

.online-stats img{
    position: relative;
}

.online-stats:hover{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}
.online-stats span::before {
    content: attr(data-count);
    right: 0.1em;
    position: absolute;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-family: monospace;
    padding: 0px;
    backdrop-filter: blur(2px);
    background: transparent;
    background-color: hsl(126deg 100% 50% / 50%);
    
    }



.conf-links p{
    margin: 2px;
    padding: 2px;
    font-family: monospace;
    transition: 0.2s;
    max-inline-size: min-content;

}

.conf-links p:hover{
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

.conf-links button{
    margin: 2px;
    padding: 2px;
    font-family: monospace;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: 0.2s;

}


.conf-links button:hover{
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}