body {
    background:
        linear-gradient(red, transparent),
        linear-gradient(to top left, lime, transparent),
        linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.Post{
    display: flex;
    margin: 50px 5px;
    padding: 5px;
    width: inherit;
    align-items: center;
    flex-direction: column;
    
}

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 5px;
    padding: 15px;
    border: solid 1px whitesmoke;
    border-radius: 10px;
}

@media only screen and (max-width: 800px) {
    form {
        top: 10px;
        width: 90%;
        margin: 10px;
    }
  }
input{
    height: 30px;
    font-family: monospace;
    margin: 2px;
    padding: 2px 5px;
    background: transparent;
    /* border: solid 1px lightgrey; */
    border: none;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: white;
    transition: .2s;

}

input[type='password'] {
    letter-spacing: -0.2em;
    font-size: 1rem;
}


::placeholder{
    color: white;
    margin: 2px;
    align-items: center;
    opacity: .5;
    font-size: 1rem;
    letter-spacing: 0em;
}

textarea{
    resize: none;
    height: 30px;
    font-family: monospace;
    margin: 2px;
    padding: 10px 5px;
    background: transparent;
    /* border: solid 1px lightgrey; */
    border: none;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: white;
}

textarea:focus , input:focus{
    outline: none;
    background: transparent;
    transition: .2s;
    /* border: solid 1px lightgray; */
}


.msngerror{
    display: flex;
    color: white;
    border-radius: 10px;
    place-content: center;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 9, 1, 0.3);
}

.noerror{
    background-color: none;
    margin: 0px;
    padding: 0px;
}


form p{
    margin: 2px;
    padding: 2px;
    font-family: monospace;
    font-size: 1rem;
    width: fit-content;
    left: 0;
    color: white;
    font-weight: bolder;
}

form input:last-child:hover{
    transition: .2s;
    cursor: pointer;
    backdrop-filter: blur(0px);
    background-color: transparent;
    border:  solid 1px white;
    font-weight: bolder;
    transition: 0.2s;
}